name: "test"
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm install --global create-react-app
      - run: create-react-app --template file:./packages/cra-template ./test
      - run: ls ./test/src
      - name: lint
        run: yarn eslint --ext md --ext js src
        working-directory: ./test
      - name: test
        run: yarn test
        working-directory: ./test
        env:
          CI: true
